.navigation {
  @extend %cover;
  z-index: z('navigation');
  position: fixed;
  height: 12rem;
}
.navigation__list__main {
  position: absolute;
  margin-left: 4rem;
  text-align: center;
}
.navigation__list__main__link {
  @extend %title-30;
  text-decoration: none;
  color: $color-turquoise;

  @include media('<phone') {
    font-size: 5.5rem;
  }
}
.navigation__list {
  display: flex;
  align-items: center;
  height: 100%;
}
.navigation__list__item {
  @extend %link--hidden;
  margin-left: 20rem;
  &:nth-child(2) {
    margin-left: 40rem;
  }
}
.navigation__list__link {
  @extend %description-24;
  text-decoration: none;
  color: $color-black;

  @include media('<phone') {
    font-size: 5.2rem;
  }
}
