%description-16 {
  font-family: $font-redhat;
  font-size: 1.6rem;
}
%description-20 {
  font-family: $font-redhat;
  font-size: 2rem;
}
%description-24 {
  font-family: $font-redhat;
  font-size: 2.4rem;
}
%description-26 {
  font-family: $font-redhat;
  font-size: 2.6rem;
}
%description-28 {
  font-family: $font-redhat;
  font-size: 2.8rem;
}
%description-30 {
  font-family: $font-redhat;
  font-size: 3rem;
}
%description-32 {
  font-family: $font-redhat;
  font-size: 3.2rem;
}
%description-36 {
  font-family: $font-redhat;
  font-size: 3.6rem;
}
%description-40 {
  font-family: $font-redhat;
  font-size: 4rem;
}
%description-48 {
  font-family: $font-redhat;
  font-size: 4.8rem;
}
