nav.navigation
  .navigation__wrapper
    a.navigation__link(href='/')
      | Living Creatures

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/sunlight") Sunlight

      li.navigation__list__item
        a.navigation__list__link(href="/twilight") Twilight 

      li.navigation__list__item
        a.navigation__list__link(href="/midnight") Midnight 
        
      li.navigation__list__item
        a.navigation__list__link(href="/abyss") Abyss 
