nav.navigation
  ul.navigation__list
    li.navigation__list__main 
      a.navigation__list__main__link(href="/") 
        | Living
        br
        | Creatures

    li.navigation__list__item
      a.navigation__list__link(href="/sunlight") Sunlight

    li.navigation__list__item
      a.navigation__list__link(href="/twilight") Twilight 

    li.navigation__list__item
      a.navigation__list__link(href="/midnight") Midnight 
      
    li.navigation__list__item
      a.navigation__list__link(href="/abyss") Abyss 
