.abyss__border {
  margin: 15rem 0;
}
.abyss__border__hr {
  border-top: 2px dashed $color-black;
}
.abyss__border__text {
  @extend %description-24;
}
.abyss__border__desc {
  @extend %description-20;
  width: 30%;
  text-align: right;
}
