.abyss__footer {
  margin: 30rem 0 0 0;
}
.abyss__footer__title {
  @extend %title-100;
  text-align: center;

  @include media('<=phone') {
    font-size: 15rem;
  }
}
.abyss__footer__box {
  position: relative;
  height: 70vh;
}
.abyss__footer__box__text {
  @extend %description-32;
  position: absolute;
  transform: translate(-50%, -50%);
  &:nth-child(1) {
    top: 20%;
    left: 15%;
  }
  &:nth-child(2) {
    top: 42%;
    left: 44%;
  }
  &:nth-child(3) {
    top: 29%;
    left: 82%;
  }
  &:nth-child(4) {
    top: 80%;
    left: 76%;
  }
  &:nth-child(5) {
    top: 66%;
    left: 22%;
  }

  @include media('<=phone') {
    font-size: 8.2rem;
  }
}
.abyss__footer__subtitle {
  @extend %description-20;
  padding: 2rem 0;
  width: 80%;
  text-align: right;

  @include media('<=phone') {
    font-size: 6rem;
  }
}
.abyss__footer__hr {
  border-top: 2px dashed $color-black;
}
