.midnight__footer {
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.midnight__footer__title {
  @extend %title-50;
  text-align: center;
}
.midnight__informations__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  box-shadow: 0 0 2.5rem inset $color-turquoise;
  margin: 14rem 0 5rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  overflow: hidden;
}
.midnight__informations__button__link {
  @extend %description-40;
  padding: 10rem;
  font-weight: bold;
  text-align: center;
  color: $color-black;
  text-decoration: none;
}
