.midnight__highlights {
  height: 100vh;
  margin-bottom: 10rem;
}
.midnight__highlights__title {
  @extend %title-130;
  text-align: center;
  line-height: 1.5;
}
.midnight__highlights__desc {
  @extend %description-32;
  text-align: center;
  margin-top: 10rem;
}
