.midnight__suborder {
  margin: 15rem 0 20rem;
  display: flex;
}
.midnight__suborder_box {
  width: 30%;
}
.midnight__suborder__box__text {
  @extend %description-24;
}
.midnight__suborder__box_desc {
  @extend %description-20;
  text-align: right;
}
.midnight__suborder__media {
  margin: 8rem 0 0 15rem;
  width: 15rem;
  height: 15rem;
}
.midnight__suborder__media__img {
  width: 100%;
}
