.sunlight__content {
  position: relative;
  height: 200vh;
}
.sunlight__content__title {
  position: absolute;
  @extend %title-180;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sunlight__content__media {
  position: absolute;
  transform: translate(-50%, -50%);
  &:nth-child(2) {
    width: 26.5rem;
    height: 34rem;
    top: 23%;
    left: 88%;
  }
  &:nth-child(3) {
    width: 30rem;
    height: 22rem;
    top: 38%;
    left: 60%;
  }
  &:nth-child(4) {
    width: 23rem;
    height: 23rem;
    top: 30%;
    left: 20%;
  }
  &:nth-child(5) {
    width: 20rem;
    height: 27rem;
    top: 70%;
    left: 12%;
  }
  &:nth-child(6) {
    width: 18rem;
    height: 23rem;
    top: 80%;
    left: 38%;
  }
  &:nth-child(7) {
    width: 21rem;
    height: 13.5rem;
    top: 63%;
    left: 63%;
  }
  &:nth-child(8) {
    width: 25.5rem;
    height: 21.5rem;
    top: 72%;
    left: 84%;
  }
}
.sunlight__content__media__image {
  @extend %cover;
  object-fit: cover;
}
.sunlight__content__media__text {
  position: absolute;
  @extend %title-16;
  bottom: -3rem;
}
