.home {
  @extend %center;
  overflow: hidden;
  opacity: 0;
}
.home__header {
  @extend %center;
  height: 100vh;
}
.home__title {
  @extend %title-190;

  @include media('<=phone') {
    text-align: center;
  }
}
